<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scone</title>
    <link rel="stylesheet" href="/css/styles.css">

    <link rel="icon" href="/assets/images/SconeLogoAI.png" type="image/png">
</head>
<body>
    <!-- Navigation Bar -->
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/map">Map</a></li>
            <li><a href="/estate">Estate</a></li>
            <li><a href="/clan">Clan</a></li>
            <li><a href="/claimants">Claimants</a></li>
            <li><a href="/profile">Profile</a></li>
        </ul>
    </nav>

    <!-- Main Content for Clan Page -->
    <main>
        <!-- Dropdown search to select tree progenitor -->
        <div class="dropdown-container">
            <input type="text" id="progenitor-search" placeholder="Search for a person..." oninput="filterSuggestions()">
            <div id="suggestions-container" class="suggestions-list"></div>
            <button id="toggle-search" class="arrow-collapse" onclick="toggle(false)">&#x25C0;</button> <!-- Left arrow -->
        </div>

        <!-- Side panel with tree options -->
        <div class="tree-options-container">
            <div class = "tree-options-panel">
                <h3>Tree Options</h3>
                <label><input type="checkbox" id="show-descendants" checked> Show Descendants</label><br>
                <label><input type="checkbox" id="show-ancestors"> Show Ancestors</label><br>
                <label><input type="checkbox" id="show-siblings"> Show Siblings</label><br>
                <label><input type="checkbox" id="show-extinct" onclick="reRender()"> Show Extinct</label><br>
                <label><input type="checkbox" id="show-excluded" onclick="reRender()"> Show Excluded</label><br>
            </div>
            <button id="toggle-options" class="arrow-collapse" onclick="toggle(true)">&#x25B6;</button> <!-- Right arrow -->
        </div>              

        <div id="tree-display" style="position: relative;">
            <!-- We'll fill this with JS -->
        </div>
    </main>

    <script src="/js/clanScript.js"></script>
</body>
</html>
