<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - Scone</title>
    <link rel="stylesheet" href="/css/styles.css">

    <link rel="icon" href="/assets/images/SconeLogoAI.png" type="image/png">
</head>
<body>
    <!-- Navigation Bar -->
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/map">Map</a></li>
            <li><a href="/estate">Estate</a></li>
            <li><a href="/claimants">Claimants</a></li>
            <li><a href="/profile">Profile</a></li>
        </ul>
    </nav>

    <!-- Main Content for Home -->
    <main>
        <h1>Welcome to the Profile Page</h1>
        <p>Placeholder- this will include player profile info</p>
    </main>

    <script src="js/scripts.js"></script>
</body>
</html>
